:root {
  --red-0: #ee8951;
  --red-1: #f09666;
  --red-2: #f2a37d;
  --red-3: #f5b396;
  --red-4: #f8c6b0;
  --red-5: #fbd9cc;
  --red-5-5: #fde6dd;
  --red-6: #fef2ed;
  --color-red-6-shadow: rgba(238, 137, 81, 0.6);
  --color-red-3-shadow: rgba(238, 137, 81, 0.3);
}