:root {
  --red-0: #fb864f;
  --red-1: #fb9666;
  --red-2: #fca77d;
  --red-3: #fdb996;
  --red-4: #fdcdb3;
  --red-5: #fee1d1;
  --red-5-5: #feece1;
  --red-6: #fff5f0;
  --color-red-6-shadow: rgba(251, 134, 79, 0.6);
  --color-red-3-shadow: rgba(251, 134, 79, 0.3);
}